extends layout

block content
  h1 #{message} Index
  ul
    li GET /api/customers
    li POST /api/customers
    li PUT /api/customers/:id
    li DELETE /api/customers/:id
    li GET /api/customers/:id
